@charset "utf-8";
/* Chat 모듈용 CSS - chat.css */


/* 최상위요소 */
.chat_wrap {
    position: relative;
    margin-bottom: 1.2vw;
}

.chat_wrap .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 1.5vw;
    z-index: 10;
    background: linear-gradient(to top, #33333300, #000 60%);;
    font-size: 2vw;
    color: white;
}

.chat_wrap .chat {
    padding: 0 2.5vw;
    padding-bottom: 30px;
    /* 자동스크롤 위한 셋팅 */
    width: 100%;
    height: 60vh;
    overflow-x: hidden;
    overflow-y: scroll;
}


/* 채팅창 스크롤바 커스텀 */
.scbar::-webkit-scrollbar{
    /* 전체 스크롤바 크기변경 */
    width: 8px;
}
.scbar::-webkit-scrollbar-thumb{
    /* 스크롤바 */
    background-color: #6b6b6b;
    border-radius: 5px;
}
.scbar::-webkit-scrollbar-track{
    /* 스크롤바 트랙 */
    background-color: transparent;
    border-radius: 5px;
}


.chat_wrap .chat ul {
    width: 100%;
    list-style: none;
    margin-top: 10%;
}
.chat_wrap .chat ul li {
    width: 100%;
}
.chat_wrap .chat ul li.left {
    text-align: left;
}
.chat_wrap .chat ul li.right {
    text-align: right;
}

.chat_wrap .chat ul li > div {
    /* font-size: 13px; */
    font-size: 1.2vw;
}
.chat_wrap .chat ul li > div.sender {
    margin: 10px 20px 0 20px;
    font-weight: bold;
    color: #fff;
}
.chat_wrap .chat ul li.left .message {
    padding: 30px 60px 30px 30px;
}
.chat_wrap .chat ul li > div.message {
    display: inline-flex;
    word-break: break-all;
    margin: 5px 0;
    max-width: 100%;
    font-size: var(--copy-small-size);
    /* border: 1px solid #888; */
    padding: 30px;
    border-radius: 60px;
    background-color: #1d1d1d;
    color: #fff;
    text-align: left;
    animation: messageIn .3s;
}
@keyframes messageIn {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translate(0,0);
    }
}
.chat_wrap .chat ul li > div.message img:last-child {
    /* 슬라이드 위치값 업데이트 위해서 높이값 px 필수설정 */
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 30px;
}

.chat_wrap .chat ul li > div.message .minImg {
    height: 50px;
    margin-right: 30px;
    object-fit: cover;
}

.chat_wrap .input-div {
    padding: 0 var(--global-padding) 2rem;
}
.input_wrap {
    position: relative;
}
.chat_wrap .input-div textarea {
    display: inline-block;
    position: relative;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: var(--copy-size);
    width: 100%;
    background-color: #0000;
    border: 3px solid #fff;
    border-radius: 200px;
    order: 1000;
    
    padding: 1.5rem 0 0 2rem;
    line-height: 1.1;
    margin-top: 7px;
    
    outline: 0;
    resize: none;
}
.chat_button {
    height: 3rem;
    width: 3rem;
    color: #000;
    background-color: #fff;
    border: 3px solid #fff;
    border-radius: 50%;
    padding: 0.5rem;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);   
}
.chat_button:hover {
    color: #fff;
    background-color: #000;
}
.chat_button svg {
    height: 100%;
    width: 100%;
}

.format {
    display: none;
}


@media screen and (min-width: 960px) {
    .chat_wrap .input-div textarea {
        max-height: 5rem;
        /* padding: 1.2rem 0 0 2rem; */
    }
}