@charset "utf-8";
/* Layout 페이지 CSS - layout.css */

.cover {
    /* overflow: hidden; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0;
    z-index: -1;
}

/*************** 상단영역 ***************/
/* 헤더영역 - gnb */
.top{
    font-family: 'Montserrat', sans-serif;
    padding-top: var(--global-padding);
    padding-bottom: var(--global-padding);
    padding-left: var(--global-padding);
    padding-right: var(--global-padding);
    z-index: 1000;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: relative;
    background-color: #000;
}
.gnb{
    flex-wrap: nowrap;
    display: flex;
}
.gnb a {
    text-transform: uppercase;
    border: 0.5vw solid #fff;
    border-radius: 200px;
    margin-right: 1vw;
    padding: 0 4vw 0.3vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 4.5vw;
    font-weight: 500;
    text-decoration: none;
    transition: color .3s,background-color .3s;
}
header .gnb a:hover, header .gnb a.active {
    color: #000;
    background-color: #fff;
}

/* 모바일일때 버튼 */
.button.button_large {
    display: none;
}
.button {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: var(--button-text-size);
    text-align: center;
    background-color: #0000;
    border: 3px solid #fff;
    border-radius: 200px;
    flex-shrink: 0;
    padding: 0.5rem 2rem;
    line-height: 1;
    text-decoration: none;
    transition: color .3s,background-color .3s;
    position: relative;
    overflow: hidden;
}
/* 버튼 오버시 */
.button:hover {
    color: #000;
    background-color: #fff;
}
.button_init {
    line-height: 1;
    transition: transform .3s;
    display: block;
    position: relative;

    padding-top: 1rem;
    padding-bottom: 1rem;
}
/* 버튼클릭시 */
.switch .button_init {
    transform: translateY(-100%);
}
.button_active {
    padding-top: 1rem;
    padding-bottom: 1rem;

    width: 100%;
    text-align: center;
    transition: transform .3s;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(80%);
}
/* 버튼클릭시 */
.switch .button_active {
    transform: translateY(-50%);
}
/* 하위메뉴 */
.menu {
    height: 0;
    pointer-events: none;
    background-color: #000;
    flex-direction: column;
    transition: height .5s;
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
}
/* class open */
.menu.open {
    height: 100vh;
    pointer-events: auto;
}
/* 메뉴 메인 */
.menu_main {
    padding: var(--global-padding);
    flex-direction: column;
    display: flex;
}
.menu_main > .button {
    margin-bottom: var(--global-padding);
}
/* 메뉴 두번째 */
.menu_secondary {
    bottom: var(--global-padding);
    font-size: var(--copy-size);
    padding: var(--global-padding);
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    font-weight: 500;
}
.menu_secondary li {
    opacity: 0;
    margin-top: 0.7rem;
}


/* 로고 */
.logo {
    width: 10vw;
    min-width: 1rem;
    flex-shrink: 0;
    margin-left: 0;
}
.logo img {
    pointer-events: none;
    width: 100%;
    height: auto;
}


/*************** 메인영역 ***************/

.cont{
    font-family: 'Montserrat', sans-serif;
    /* text-align: center; */
    font-weight: 500;
    background-color: #000;
    color: #fff
}


/*************** 하단영역 ***************/
/* 푸터 최상단박스 */
.footer{
    padding-left: var(--global-padding);
    padding-right: var(--global-padding);
    padding-bottom: var(--global-padding);
    padding-top: 4rem;
    color: #fff;
    width: 100vw;
    background-color: #000;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.footer--light {
    color: #000;
    background-color: #fff;
    margin-top: 0;
    padding-top: 4rem;
}



/* 1. 주소지 링크 영역 */
.footer_information {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
/* 1) 주소지 감싸는 박스 */
.footer_contact {
    font-size: 4vw;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}
.footer--light .footer_contact a {
    color: #000;
}
.footer_contact a:nth-child(2) {
    margin-bottom: 4vw;
}
/* 2) 최상단 이동 빵버튼 */
.back-to-top {
    width: 15vw;
    height: auto;
    margin-right: 3vw;
    cursor: pointer;
}


/* 2. SNS 링크 영역 */
.sns_navigation {
    font-family: 'Montserrat', sans-serif;
    margin-top: 4vw;
    display: flex;
}
.sns_navigation li {
    margin-right: 1rem;
}
.sns_navigation li a {
    font-weight: 500;
}
.footer--light .sns_navigation li a {
    color: #000;
}


/****************************************************** 
                    [ 미디어쿼리 ]
******************************************************/

@media screen and (max-width:1200px) {

}

@media screen and (max-width:720px) {

}

@media screen and (max-width:480px)  {

    .gnb {
        display: none;
    }
    .top > button {
        width: calc(90vw - var(--global-padding)*3);
        flex-shrink: 2;
        padding-top: 0;
        padding-bottom: 0;
        font-weight: 500;
    }
    .button_large {
        font-size: var(--button-large-text-size);
        border-width: 4px;
        padding: 1rem 2.5rem;
    }
    .button.button_large {
        display: inline-block;
    }

    /* 로고 */
    .logo {
        width: 10vw;
        min-width: 5rem;
        flex-shrink: 2;
        margin-left: 1rem;
    }
   
}
