@charset "utf-8";
/* Welcome 모듈용 CSS - welcome.css */


.welcome {
    position: relative;
    top: 0;
    width: 100%;
    padding: 0;
    padding-bottom: var(--global-padding);
    /* z-index: -10; */
    overflow: hidden;
}
/* .marquee {
    position: relative;
    overflow: visible;
} */
.marquee {
    position: relative;
    overflow: hidden;
    --offset: 20vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
}
.marquee.dynamic_font{
    transform: translate(0, 0);
    opacity: 1;
}
/* .marquee_inner {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translateX(0%);
    will-change: transform;
    overflow: visible;
    animation: txtAni 10s linear infinite;
} */
.welcome .marquee_inner {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 8s linear infinite;
    animation-play-state: paused;
}

.marquee_inner:nth-child(1){
    left: 0%;
}
.marquee_inner:nth-child(2){
    left: 50%;
}
.marquee_inner:nth-child(3){
    left: 0%;
}
.marquee_inner:nth-child(4){
    left: 30%;
}
@keyframes txtAni {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-24.99%);
    }
}
@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}
.marquee_item {
    height: 20vw;
    align-items: center;
    display: flex;
    overflow: visible;
    opacity: 0;
    white-space: nowrap;
}
.marquee h2 {
    line-height: 1.2;
    font-size: 20vw;
}
.marquee img {
    position: relative;
    height: 100%;
    width: auto;
    margin: 0 var(--global-padding);
    display: block;
}



/* .marquee:hover .marquee_inner {
    animation-play-state: running;
} */

