@charset "utf-8";
/* 달콤커피 메인 페이지CSS - main.css */

/* 공통 외부 CSS 합치기 */
@import url(./common.css);
@import url(./core.css);
@import url(./reset.css);

/* 공사중 표시 */
body * {
    outline: 1px dashed gray;
}
section{
    height: 100vh;
}


/* 섹션별 배경색 */
.msbx1{
    background-image: url(../imges/dk_main1.png);
    background-size: cover;
}
.msbx2{
    background-color: #def1ee;
}
.msbx3{
    background: #fff5d9;
}
.msbx4{
    background: #def1ee;
}
.msbx5{
    background: #def1ee;
}
.msbx6{
    background: #fff5d9;
}
.msbx7{
    background: #fff;
}