@charset "utf-8";
/* 달콤커피 메인 페이지CSS - main.css */

/* 공통 외부 CSS 합치기 */
@import url(./common.css);
@import url(./core.css);
@import url(./reset.css);

/* 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Joti+One&display=swap');


/* 공사중 표시 */
body * {
    outline: 1px dashed gray;
}
section{
    width: 100vw;
    height: 100vh;
}


/*************************** 메인섹션1페이지 ***************************/
.msbx1{
    background: url(../imges/dk_main1.png) no-repeat center/cover;
}
/* 하단 미니배너 박스 */
.minibx{
    position: absolute;
    /* margin: 0;
    padding: 0; */
    display: flex;
    bottom: 5%;
    left: 10vw;   
}
.mbx li:nth-child(1){
    background: url();
    
}
.mbx{
    max-width: 500px;
    width: 11vw;
    height: 7vw;
    border: 2px solid #000;
    border-radius: 15px;
    /* 🍅Q.질문
    max-width: 500px;
    width: 11vw; 일때와
    height: 7vw;

    width: max(11vw,500px); 일때의 차이점
    height: 7vw;
    */
}

/*************************** 메인섹션2페이지 ***************************/
/* 상위박스 */
.msbx2{
    display: flex;
    height: 100vh;
    /* padding-top: 130px; */
}
/* 플렉스박스 */
.msbx2 .fbx{
    flex: 1;
    text-align: center;
    /* width: 50%;
    height: auto; */
}
.fbx img{
    width: 85%;
    margin-bottom: 50px;
}

/* 스티키 페이지 */
#stk{
    position: sticky;
    top: 0;
    padding: 50px 0;
}

/* 메인2 - 첫번째 */
#stk>h4{
    font-family: 'Joti One', cursive;
    font-size: 40px;
    line-height: 60px;
    color: #3C2121;
}
#stk>p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    line-height: 30px;
}

#stk>h5{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    line-height: 45px;
    color: #F43800;
    margin-top: 10px;
}














/*************************** 메인섹션2페이지 ***************************/
.msbx2{
    background-color: #def1ee;
}


/*************************** 메인섹션3페이지 ***************************/
.msbx3{
    background: #fff5d9;
}


/*************************** 메인섹션4페이지 ***************************/
.msbx4{
    background: #def1ee;
}


/*************************** 메인섹션5페이지 ***************************/
.msbx5{
    background: #def1ee;
}


/*************************** 메인섹션6페이지 ***************************/
.msbx6{
    background: #fff5d9;
}


/*************************** 메인섹션7페이지 ***************************/
.msbx7{
    background: #fff;
}