@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Ubuntu:wght@300;400;500;700&display=swap");
/* 
font-family: 'Libre Baskerville', serif;
font-family: 'Ubuntu', sans-serif;
*/

.top {
  border-bottom: 1px solid #000;
}
.gnb {
  width: 800px;
  margin: 0 auto;
}
.gnb ul {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  display: flex;
  align-items: center;
  list-style: none;
}
.gnb li {
  margin: 0 10px;
}
.gnb a {
  color: #000;
  text-decoration: none;
}
.gnb a:hover {
  color: hotpink;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-shadow: 2px 2px 2px #555;
}
h1 {
  text-align: center;
}

/* 메인영역 */
.cont {
  text-align: center;
  /* padding: 30px; */
}
.cont img {
  max-width: 100%;
}
iframe {
  width: 731px;
  height: 412px;
}


/************ 하단영역 ************/
#info {
  position: relative;
}
.info {
  text-align: center;
  padding: 30px;
}
.info h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}
.info p {
  margin-top: 20px;
}
.footer-flex {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.footer-cont a {
  font-size: var(--Mfont);
}
.footer-cont a + a {
  margin-left: 15px;
}
/* 하단 애니메이션 */
.footer-fit {
  overflow: hidden;
}
.footer-flow {
  /* position: absolute; */
  /* left: 0; */
  display: flex;
  width: 200vw;
  height: 120px;
  margin-top: 50px;
  overflow: hidden;

  /* 애니메이션 */
  animation: footer-flow 15s linear infinite;
}
.footer-flow img {
  flex-shrink: 1;
  display: block;
  width: 50%;
}

/* footer-flow 키프레임 */
@keyframes footer-flow {
  from {
    transform: translateX(-50%);
  }
  to {
    transition: translateX(0%);
  }
}
/* 키프레임 */
