@charset "utf-8";
/* 상하단 레이아웃 컴포넌트 - layout.css */

/************ 상단영역 ************/
#top {
    position: absolute;
    width: 100%;
    z-index: 1;
}
.top {
    margin: 0 auto;
}
/************ 로고박스 ************/
.logo {
    text-align: center;
    margin-top: 30px;
}
.logo img {
    height: 100%;
}

/************ 네비게이션 ************/
.gnb {
    position: relative;
    min-height: 46px;
    z-index: 6;
}
/* gnb ul박스 */
.gnb ul {
    position: absolute;
    top: 0;
    display: flex;
    gap: 50px;
    font-size: var(--Sfont);

    border-bottom: 1px solid #000;
}
/* gnb li 리스트 */
.gnb ul li {
    font-family: "Ubuntu", sans-serif;
    padding: 0 70px;
    padding-bottom: 25px;
}
.left-menu {
    justify-content: end;
    width: 45%;
}
.right-menu {
    right: 0;
    width: 45%;
}
.gnb a {
    transition: 0.4s ease-in-out;
}
.gnb ul li:hover a {
    color: whitesmoke;
    text-shadow: 1px 1px 3px #000;
}
/* 장바구니 */
.cart {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 50px;
}
.cart a {
    font-size: var(--Sfont);
}
i {
    color: #000;
}
/********* 메뉴 젤리효과 *********/

.gnb ul li:hover {
    -webkit-animation: jelly 0.5s;
    animation: jelly 0.5s;
}

@keyframes jelly {
    25% {
        transform: scale(0.9, 1.1);
    }
    50% {
        transform: scale(1.1, 0.9);
    }
    75% {
        transform: scale(0.95, 1.05);
    }
}

/************** 모바일버전메뉴 **************/
.mobile-menu {
    display: none;
}

/************** 메인영역 **************/
.cont {
    text-align: center;
    /* padding: 30px; */
}
.cont img {
    max-width: 100%;
}
iframe {
    width: 731px;
    height: 412px;
}

/************ 하단영역 ************/
#info {
    position: relative;
}
.info {
    text-align: center;
    padding: 30px 0;
}
.info h2 {
    margin-top: 30px;
    margin-bottom: 20px;
}
.info p {
    margin-top: 20px;
}
.footer-flex {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.footer-cont a {
    font-size: var(--Mfont);
}
.footer-cont a + a {
    margin-left: 15px;
}
/* 하단 애니메이션 */
.footer-fit {
    overflow: hidden;
}
.footer-flow {
    display: flex;
    width: 200vw;
    height: 120px;
    margin-top: 50px;
    overflow: hidden;

    /* 애니메이션 */
    animation: footer-flow 15s linear infinite;
}
.footer-flow img {
    flex-shrink: 1;
    display: block;
    width: 50%;
}

/* footer-flow 키프레임 */
@keyframes footer-flow {
    from {
        transform: translateX(-50%);
    }
    to {
        transition: translateX(0%);
    }
}
/* 키프레임 */

/*================= 미디어쿼리 =================*/
@media screen and (max-width: 1200px) {
    #top {
        position: fixed;
    }
    /********** 햄버거버튼 **********/
    .top .ham {
        position: absolute;
        top: 15%;
        left: 5%;
        width: 50px;
        height: 40px;
        z-index: 7;
        cursor: pointer;
    }

    /* 햄 아래 공통 */
    .ham div {
        position: absolute;
        width: 100%;
        height: 5px;
        border-radius: 3px;
        transition: 0.5s ease-in-out;

        background-color: #000;
    }
    /**** on추가 ****/
    .ham.on div {
        position: absolute;
        width: 100%;
        height: 5px;
        border-radius: 3px;

        background-color: whitesmoke;
        cursor: pointer;
    }

    .ham div:first-child {
        top: 0;
    }
    .ham div:nth-child(1) {
        top: 50%;
        transform: translateY(-50%);
    }
    .ham div:last-child {
        bottom: 0;
    }
    /**** on추가 ****/
    .ham.on div:first-child {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .ham.on div:nth-child(2) {
        opacity: 0;
    }
    .ham.on div:last-child {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    /* 장바구니 */
    .cart a {
        font-size: var(--Lfont);
    }

    /************ gnb 레이아웃 변경 ************/
    .gnb ul {
        display: none;
    }

    /********** 모바일메뉴가림막 **********/
    .mobile-menu {
        display: block;
        position: fixed;
        background-color: #e9a8c6;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100vh;
        z-index: 5;

        transition: 0.5s ease-out;
    }
    /**** on추가 ****/
    .mobile-menu.on {
        position: fixed;
        background-color: #e9a8c6;
        top: 0;
        left: 0;
        z-index: 5;
    }
    /* ul */
    .mobile-menu .mobile-menu__wrap {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2.2rem;
        font-weight: 500;
        text-align: center;
    }
    /* li */
    .mobile-menu .mobile-menu__wrap li {
        margin-top: 30px;
        padding: 10px;
    }
    .mobile-menu .mobile-menu__wrap li a {
      /* display: inline-block; */
      position: relative;
        transition: 0.4s ease-in-out;
      }

    .mobile-menu .mobile-menu__wrap li:hover a {
        color: whitesmoke;
        text-shadow: 1px 1px 3px #000;
    }
    .mobile-menu .mobile-menu__wrap li:hover {
        -webkit-animation: jelly 0.4s;
        animation: jelly 0.5s;
        transform: scale(1.2);
    }
}
