@charset "utf-8";
/* 텍스트모듈용 CSS - text.css */

/************ 타이틀공통 ************/
.text-cont {
    position: relative;
    font-size: var(--Lfont);
    text-align: center;
    font-family: "Libre Baskerville", serif;
    white-space: nowrap;
    padding: 12% 0 7%;

    display: flex;
    max-width: 1150px;
    margin: 0 auto;
    justify-content: center;
}
/************ 타이틀내용 ************/
.text-cont__wrap{
    top: 0;
    left: 0;
    margin-left: 40px;
}
.text-cont h2 {
    padding-bottom: 50px;
}
.text-cont p {
    font-size: var(--Sfont);
}
/************ 타이틀뱃지 ************/
.badge{
    position: relative;
    width: 210px;
    top: 0;
}
.badge-ani{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
.badge-ani:last-child{
    transform: scale(1.2);
}
.badge-ani__rotate{
    animation: rotate 25s infinite linear;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


/*=============== 미디어쿼리 ===============*/
@media screen and (max-width: 900px) {
    .text-cont h2 {
        padding-bottom: 15px;
    }
}