@charset "utf-8";
/* 삼화제지 : 공통 CSS - common.css */

/* 웹폰트 CDN */
/* 메인메뉴/굵은 글씨 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
/* font-family: 'Roboto', sans-serif; */
/* 서브메뉴/얇은 글씨(설명) */
@import url("//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
/* font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; */

/* 초기화 */
html,
body,
h1,
h2,
h3,
h4,
ul,
ol,
li,
p {
  margin: 0;
  padding: 0;
}
/* ul, ol 초기화 */
ul,
ol {
  list-style: none;
}

body {
  width: 100%;
  height: 100vh;
}

a {
  color: #777;
  text-decoration: none;
}
.gnb > ul > li > a {
  color: #000;
}

/* 공사중 표시 */
body * {
  /* outline: 1px dashed gray; */
  font-family: "Roboto", sans-serif;
}

/************************************************/

/* 1. 상단영역 */
/* 겉박스 */
#top {
  position: relative;
  background-color: #fff;
}

/* 속박스 */
.top {
  position: fixed;

  /* 플렉스박스 */
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 1;

  align-items: center;
  
  padding: 0 40px;
  box-sizing: border-box;
}

/************ 1.로고파트 ************/
/* 로고 */
.logo {
  /* 세로중앙이동 */
  position: relative;
  height: 100%;
}
.logo img {
  /* width: 273px; */
  height: 20px;
}
/* 로고 두번째 이미지 처음에 숨김 */
.logo img:last-child {
  display: none;
}
/* 로고 두번째 이미지 보이기 */
/* .logo img:last-child{
    display: inline;
} */

/************ 2.네비파트 ************/
/* 네비게이션 박스 */
.gnb {
  position: relative;
  z-index: 1;

  height: 100px;
  overflow: hidden;
}

.gnb > ul {
  /* 플렉스박스 */
  display: flex;
  text-align: center;
}

/* 메뉴 간격 조정 */
.gnb > ul > li + li {
  margin-left: 40px;
}
/* 최상위 메뉴 간격 조정 : ul > li */
.gnb > ul > li {
  line-height: 100px;
}
/* 서브메뉴 간격 조정 : .smemu > ul > li  */
.smenu > ul > li {
  line-height: 40px;
}
/* smenu a요소 오버시 공통  */
.smenu a:hover {
  color: #000;

  /* 트랜지션 */
  transition: 0.4s ease-in-out;
}

/******* 서브메뉴박스 CSS셋팅 *******/
/* .smbx{
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;

  overflow: hidden;
  height: 0px;
  opacity: 0;
   */
  /* 트랜지션 : 속시이지 */
  /* transition: 0.4s ease-in-out;
} */


/************ 3.기타파트 ************/
.other {
  /* 플렉스박스 */
  display: flex;
  align-items: center;
}
.other li {
  position: relative;
  height: 100%;
  font-size: 20px;
}

.other i {
  width: 100%;
  height: 100%;
  display: block;
  opacity: 1;
}
.other i + i {
  opacity: 0;
}
/* 사이간격주기 */
.other li + li {
  margin-left: 20px;
}

/* 가상요소로 밑줄 애니만들기 */
.other > li:nth-child(2) > span::after {
  content: "";
  display: block;

  width: 100%;
  height: 3px;
  margin-top: 5px;
  background-color: #000;
}

/************************************************/
/* 3. 하단영역 */
#info{
  background-color: #000000;
}
.info{
  width: 1200px;
  height: 228px;
  margin: 0 auto;

  font-size: min(1vw,14px);
}
/* 3-1.하단링크 */
.blink{
  color: #777;
  display: flex;
  padding-top: 63px;
  padding-bottom: 23px;
}
.blink li{
  padding-right: 10px;
}
/* 3-2.회사정보 */
.addr{
  color: #777;
  font-style: normal;
  padding: 23px 0;
  line-height: 25px;
  border-top: 1px solid #4D4D4D;
}

/************************************************/
/********* 서브페이지 공통 *********/
/* 배경 텍스트박스 */
.sub_bgt{
  font-size: 3.5vw;
  font-weight: 600;
  text-align: center;
  color: #fff;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* 추가되었어요 5-12 17:50 */
  /* overflow: hidden; */
}
/* 글자 등장액션 CSS 선셋팅을 해요~ */
/* 준비 */
.sub_bgt > h3{
  opacity: 0;
  transform: translateY(100%);
  transition: .5s ease-out;
}
/* 완료  */
.sub_bgt.on > h3 {
  transition: .5s ease-out;
  transform: translateY(0);
  opacity: 1;
}

/* 서브페이지 배경이미지 확대 CSS */
.sub_bgi1 img,
.sub_bgi2 img,
.sub_bgi3 img{
  width: 100%;
  height: 100%;
  transform: scale(1);
  /* animation: bgi 2s alternate forwards; */
}
/* @keyframes bgi {
  0%{
      transform: scale(1);
  }
  100%{
      transform: scale(1.01);
  }
} */


.arrow{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
  font-size: 2.5vw;
}


/***********************************************/
/* 서브-하단메뉴박스 */
/* 공통 */
.sub_menu{
  position: relative;
  margin-top: 110px;
}
/* 서브-하단메뉴 공통 */
.sub_menu ul{
  /* 플렉스박스 */
  display: flex;
}
.sub_menu ul li{
  width: 50%;
}

.sub_mtxt{
  height: 280px;
  color: #fff;
}


.sub_menu li{
  overflow: hidden;
}
.sub_mtxt>div:hover{
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

.sub_mtxt{
  position: relative;
  /* 부모자격 */
}

/* 왼쪽 */
.left h3{
  position: absolute;
  font-size: 1.8vw;
  top: 38%;
  right: 5%;
}
.left h4{
  position: absolute;
  font-size: 0.8vw;
  top: 56%;
  right: 5%;
}

/* 왼쪽 EXPLORE 화살표 */
.left h4::after{
  content: '';
  display: block;
  position: absolute;
  top: 3%;
  right: 135%;
  height: 77%;
  padding-right: 40px;
  margin-left: 8px;
  transform: scaleX(-1);
  background: url(../images/icon_arrow-w.png) no-repeat bottom/100%;
}

/* 오른쪽 */
.right h3{
  position: absolute;
  font-size: 1.8vw;
  top: 38%;
  left: 5%;
}
/* 프리미엄 */
.right h4{
  position: absolute;
  font-size: 0.8vw;
  top: 56%;
  left: 5%;
}

/* 오른쪽 EXPLORE 화살표 */
.right h4::after{
  content: '';
  display: block;
  position: absolute;
  top: 3%;
  left: 110%;
  height: 77%;
  padding-left: 40px;
  margin-left: 8px;
  background: url(../images/icon_arrow-w.png) no-repeat bottom/100%;
}

/***********************************************/
/* 큰 이미지 배경박스 */
#bgbx {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  display: none;
  /* 처음에 안보임 */
}
