@charset "utf-8";
/* 삼화제지 : 메인 CSS - main.css */

/* 공통 외부 CSS 합치기 */
@import url(./common.css);

/* 섹션1페이지 */
.page1{
    position: relative;
    height: 200vh;
    background-color: #DBD9DE;
}
.pg1{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
    z-index: 1;

}
.pg1 img{
    width: 100%;
    height: 100%;
}
.pg1_txt1{
    font-size: 14vw;
    font-weight: 600;

    position: absolute;
    top: 14%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 60%;
}
.pg1_txt2{
    font-size: 14vw;
    font-weight: 600;

    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 60%;
}
.a{
    display: flex;
    justify-content: space-between;
}
.c{
    position: relative;
    /* z-index: -1; */
}

.d{
    font-size: 14vw;
    width: 60%;
    font-weight: 600;

    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.e{
    font-size: 14vw;
    width: 60%;
    font-weight: 600;

    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
