@charset "utf-8";
/* 삼화제지 : 메인 CSS - main.css */

/* 공통 외부 CSS 합치기 */
@import url(./common.css);
@import url(./sub.css);

/*************** 섹션1페이지 ***************/
.page1{
    position: relative;
    height: 200vh;
    background-color: #DBD9DE;
}
/* 1페이지-이미지박스 */
.pg1{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
    z-index: 1;

}
.pg1 img{
    width: 100%;
    height: 100%;
}
/* 1페이지-텍스트박스1 */
.pg1_txt1{
    font-size: 14vw;
    font-weight: 600;

    position: absolute;
    top: 14%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 60%;
}
/* 1페이지-텍스트박스2 */
.pg1_txt2{
    font-size: 14vw;
    font-weight: 600;

    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 60%;
}

/* 텍스트 공통 */
.pg_txt{
    display: flex;
    justify-content: space-between;
}
/* 텍스트 간격 맞춤 설정 */
.bgt1{
    font-size: 14vw;
    width: 60%;
    font-weight: 600;

    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.bgt2{
    position: relative;
    /* z-index: -1; */
}

.bgt3{
    font-size: 14vw;
    width: 60%;
    font-weight: 600;

    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

/*************** 섹션6페이지 ***************/
.page6{
    position: relative;
    height: 100vh;
    background-color: #F3C758;
}
/* 6페이지-이미지박스 */
.pg6{
    width: 47%;
    
    position: absolute;
    top: 45%;
    left: 37.5%;
    transform: translate(-50%, -50%);

    z-index: 1;
}
.pg6 img{
    width: 100%;
    height: 100%;
}
/* 6페이지-텍스트박스 */
.pg6_txt1{
    font-size: 14vw;
    font-weight: 600;

    color: #fff;

    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bgt4{
    font-size: 14vw;
    width: 60%;
    font-weight: 600;

    color: #fff;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    letter-spacing: -1vw;
}