@charset "utf-8";
/* 삼화제지 : 서브 CSS - sub.css */

/* 공통 외부 CSS 합치기 */
@import url(./common.css);
@import url(./sub01.css);
@import url(./sub02.css);
@import url(./sub03.css);
@import url(./detail.css);

/*************** 서브페이지 ***************/
/* 서브페이지-배경텍스트박스 */
.sub_txt{
    font-size: 4.3vw;
    font-weight: 600;
    text-align: center;
    color: #0D2A43;

    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/********* 서브-하단메뉴박스 *********/
.sbbx{
    position: absolute;
    bottom: 0;
    left: 0;
}
/* 서브-하단메뉴 공통 */
.sbbx ul{
    /* 플렉스박스 */
    display: flex;
}
.smtxt{
    width: calc(100vw/3);
    height: calc(100vh/3);
    color: #fff;
}
/* 서브-하단메뉴 텍스트 */
/* 하단 공통 */
.sbbx li{
    overflow: hidden;
}
.smtxt>div:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

.smtxt h3{
    font-size: 2.5vw;
    position: absolute;
    top: 25%;
    padding-left: 50px;
}
.smtxt h4{
    font-size: 0.8vw;
    position: absolute;
    top: 55%;
    padding-left: 50px;
}
/* EXPLORE 화살표 */
.smtxt h4::after{
    content: '';
    display: block;
    position: absolute;
    top: 3%;
    left: 110%;
    width: 40%;
    height: 100%;
    background: url(../images/icon_arrow-w.png) no-repeat bottom/100%;
}


/* 서브-하단메뉴1 */
.sbg1>div{
    height: 100%;
    background: url(../images/sub1_Embossed_img.png) no-repeat 100%/cover;
    transition: 0.5s ease-in-out;
}

/* 서브-하단메뉴2 */
.sbg2>div{
    height: 100%;
    background: url(../images/sub2_Colored_img.png) no-repeat 100%/cover;
    transition: 0.5s ease-in-out;
}
/* 서브-하단메뉴3 */
.sbg3>div{
    height: 100%;
    background: url(../images/sub3_Primium_img.png) no-repeat 100%/cover;
    transition: 0.5s ease-in-out;
}



/*********** 블랙박스 셋팅 ***********/
.blackbxwrap{
    /* 잠시숨겨놈 */
    /* display: none; */
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

.blackbox{
    /* opacity: 0; */
    background-color: black;
    height: 100%;
    overflow: hidden;
    
}
.ohbx{
    width: calc(100%/3);
    overflow: hidden;
}




/*************** 상세영역페이지 CSS ***************/
/* 큰 이미지 배경박스 */
#dbx {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.94);
    display: none;
    /* 처음에 안보임 */
}

/***********************************************/
  .sub_bgi4{
    height: 100vh;
    overflow: hidden;
  }
  /* 배경 텍스트박스 */
  .stc{
    color: #000;
  }
  
  /*********** 종이리스트 ***********/
  /* 겉박스 */
  .cont{
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 110px;
  }
  /* 내용타이틀 */
  .cont_tit{
    padding-top: 145px;
    padding-bottom: 20px;
  }
  .cont_tit h3{
    font-size: min(2vw,40px);
    font-weight: 600;
    line-height: 45px;
  }
  .cont_tit p{
    padding-top: 10px;
    font-size: min(1.4vw,20px);
    font-weight: 300;
    line-height: 20px;
    color: #777;
  }
  /* 내용리스트 */
  .cont_list{
    border-top: 2px solid #000;
  }
  
  .c1{
    /* 플렉스박스 */
    display: flex;
    padding: 26px 0;
    border-top: 1px solid #e5e5e5;
  }
  .c1 h4{
    font-size: min(1vw,20px);
    font-weight: 600;
    width: 150px;
    padding-left: 10px;
  }
  .c1 p{
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    font-size: min(0.8vw,16px);
    font-weight: 400;
    color: #777;
  }
  /* color 리스트 */
  .c2{
    display: block;
    padding-top: 62px;
  }
  .c2 h4{
    padding: 0;
  }
  .c2 ul{
    padding-top: 28px;
  }
  .c2 ul div{
    height: 111px;
    margin-bottom: 20px;
  }
  .c2 ul img{
    height: 100%;
  }
  
  .c2 ul p{
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    font-size: min(0.vw,12px);
    font-weight: 300;
    background: url(../images/info.png) no-repeat left center;
    color: #777;
    padding-left: 18px;
  }
  .c2 ul p+p{
    margin-top: 5px;
  }
  .c2 ul p:first-child{
    padding-top: 30px;
  }
  /* 상담버튼 */
  .cbtn{
    text-align: center;
    margin-top: 70px;
  }
  .cbtn button{
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    width: 300px;
    height: 60px;
    font-size: min(1vw,16px);
    font-weight: 400;
    background: #000;
    color: #fff;
  }