@charset "utf-8";
/* 삼화제지 : 서브 CSS - sub03.css */

/* 공통 외부 CSS 합치기 */
@import url(./common.css);

/*************** 서브페이지 ***************/
.sub_bgi3{
    height: 100vh;
    overflow: hidden;
}

/********* 서브-하단메뉴박스 *********/
/****** 컬러레드 이미지 - 왼쪽 ******/
.sub_bg2>div{
    height: 100%;
    background: url(../images/sub2_Colored_img.png) no-repeat 100%/cover;
    transition: 0.5s ease-in-out;
}


/****** 엠베서드 - 오른쪽 ******/
.sub_bg1>div{
    height: 100%;
    background: url(../images/sub1_Embossed_img.png) no-repeat 100%/cover;
    transition: 0.5s ease-in-out;
}

