@charset "utf-8";
/* 전체 페이지 공통 CSS
- index.html 페이지 전체에 적용됨! */
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Ubuntu:wght@300;400;500;700&display=swap");
/* 
font-family: 'Libre Baskerville', serif;
font-family: 'Ubuntu', sans-serif;
*/

html,body,ul,ol,dl,dt,dd,p,figure,figcaption,h1,h2,h3,h4 {
  margin: 0;
  padding: 0;
}
body{
  /* background-color: #e5e5e5; */
}
/* ul,ol */
ul,ol{
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

/* 폰트 사이즈 변수셋팅 */
:root {
  --Lfont: min(5vw,58px);
  --Mfont: min(3.5vw,22px);
  --Sfont: min(2.5vw,14px);
}
